body {
  font-family: Roboto;
  color: white;
  background-color: #1f2937;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  margin-bottom: 50px;
  padding: 10px 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-1 {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  justify-content: center;
  padding: 0 10em;
  padding-bottom: 5em;
  gap: 4em;
}

.button {
  background-color: #3882f6;
  color: white;
  padding: 10px 25px;
  width: fit-content;
  border-radius: 5px;
}

.top-img {
  border-radius: 10px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-items li {
  list-style-type: none;
  margin-left: 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

/* section 2 */

.section-2 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.box-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.box {
  display: flex;
  flex-direction: column;
  width: 10em;
}

.box img {
  border-radius: 10px;
  border: 5px;
  border-color: #3882f6;
  border-style: solid;
}

.box p {
  text-align: center;
}

.section-2 p {
  color: black;
}

.section-2 h2 {
  color: black;
  margin-bottom: 1em;
}

/* Section 3*/

.section-3 {
  padding: 3em 10em;
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-style: italic;
  margin-bottom: -20px;
}

.author {
  display: flex;
  justify-content: right;
  font-size: 32px;
  font-weight: bold;
}

/* Section 4*/

.section-4 {
  padding: 5em 10em;
  background: white;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 1em 4em;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-cta {
  all: unset;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 5px 40px;
  text-align: center;
}

.left p {
  margin-top: 0;
}

.left h3 {
  margin-bottom: 0;
}

/*footer*/

.footer {
  padding: 2em 10em;
  text-align: center;
}
